@charset "utf-8";

.button.login {
    background: transparent url(../images/login.png) no-repeat left 0px;
    box-shadow: 0px 2px 6px #bbbbbb;
    -moz-box-shadow: 0px 2px 6px #bbbbbb;
    -webkit-box-shadow: 0px 2px 6px #bbbbbb;
    display: inline-block;
    height: 38px;
    width: 231px;
}

.button.login:hover {
    background-position: left -38px;
    border-bottom: none;
    padding-bottom: 0px;
}

.button.login.click {
    background-position: left -76px;
}

.button.login.disabled {
    background-position: left -114px;
}
